.px-15{
    padding-left:15px;
    padding-right:15px;
}


.cart-section{
    max-width: 1140px;
    width: 100%;
    margin: auto;
}
.mb-0{
    margin-bottom: 0;
}

.cart-container{
    padding: 30px 0px;
}
.cart-container > div{
    padding: 20px 0;
    border-bottom: 1px solid gainsboro;
    display: flex; 
    flex-wrap: wrap;
}
.cart-container > div > div{
    width: 50%;
}

.cart-item-second{
    display: flex;
    flex-wrap: wrap;
}
.cart-item-second > div{
    display: flex;
    align-items: center;
}

.cart-item-second > div:first-child{
    width: 40%;

}

.cart-item-second > div:last-child{
    width: 30%;
    text-align: center;
    display: flex;
    justify-content: center;
}

.cart-item-second > div:nth-child(2){
    width: 30%;
    text-align: center;
    display: flex;
    justify-content: center;
}


.ri-delete-bin-6-line{
    color: red;
}

.cart-quant {
    border: 1px solid gainsboro;
   width: fit-content;
   display: flex;
   gap: 20px;
   padding: 3px 10px;
}

.cart-quant i{
    color: black;
    font-weight: bold;
}

.cart-check{
    display: flex;
    justify-content: space-between;
    border-bottom: none !important;
}

.cart-check > a{
    padding: 7px 35px;
    border: 1px solid #EB984E;
}

.cart-check > a:first-child{
  color: #EB984E;
  background-color:transparent;
}

.cart-check > a:first-child:hover{
  color: white;
  background-color: #EB984E;
}

.cart-check > a:last-child{
  color: white;
  background-color: #EB984E;
}

.cart-check > a:last-child:hover{
  color: white;
  background-color: #e67d22;
}


.cart-item-details{
    display: flex;
    gap: 15px;
}

.cart-item-details1{
    width: 115px;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-item-details2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.cart-item-details1 img{
  
    width: 115px;
  
}

@media(max-width:767px){
    .w-lg-none{
        display: none !important;
    }
    .w-lg-c{
        width: 100% !important;
        padding-bottom:10px;
    }
    .cart-item-second > div{
        flex-direction: column;
        align-items: start;
        gap: 10px;
    }
    .cart-item-second{
        justify-content: space-between;
    }
}
@media(min-width:767px){
    .c-q{
        display: none;
    }
}

