*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'Nunito', sans-serif;
}

.f-lato{
    font-family: 'Lato', sans-serif;
}

.o{
    font-size: 15px;
    color: orange;
    font-weight: normal;
    line-height: 1.5;
    font-family: 'Lato', sans-serif;
    letter-spacing:0.1px;
}
.p{
    font-size: 15px;
    color: gray;
    font-weight: normal;
    line-height: 1.5;
    font-family: 'Lato', sans-serif;
    letter-spacing:0.1px;
    margin-bottom: 30px;
}

.section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section1{
    max-width: 1140px;
    width: 100%;
    padding: 50px 0px;
    margin: auto;
}
.container{
    max-width: 1140px;
    width: 100%;
    padding: 30px 0px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.container > div{
    width: 25%;
    padding: 20px 15px;
}
.container5{
    padding: 15px 0;
    max-width: 1140px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}
.container5 > div{
    
}

.container3{
    max-width: 1140px;
    width: 100%;
    padding: 30px 0px;
    display: flex;
    flex-wrap: wrap;
}
.container3 > div{
    width: 33.33%;
    padding: 20px 15px;
}

.bg-gray{
    background-color: #F7F8FA;
    border-top: 1px solid gainsboro;
}

a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.759);
}

header{
    border-bottom: 1px solid gainsboro;
    padding:2px;
}

.logo{
   border-bottom: 1px solid gainsboro;
    padding: 28px;
    display: flex;
}
.logo > div{
    /* border: 1px solid yellow; */
}
.l{
    flex-grow: 4;
    text-align: center;
    color: #364253;
    font-size: 24px;
    font-family: 'Nunito', sans-serif;
    font-weight: normal;
    text-transform: none;
    line-height: normal;
    letter-spacing: normal;
}
.l > h1{
    font-weight: 400;
}
.cartIcon{
    flex-grow: 1;
}
.cartIcon > a >i{
    font-size: 23px;
    padding: 5px 20px;
}


.ri-search-line{
    border-right: 1px dotted gray;
}


 /*     Navbar css    */

nav{
  display: flex;
  justify-content: center;
 
}
.navbar{
    width: 400px;
    display: flex;
    justify-content: space-between;
 
}
.navbar > a{
    padding:20px 0px;
    border-top:3px solid white;
}
.navbar > a:first-child{
    border-top:3px solid orange;
}
.navbar > a:hover{
    border-top:3px solid orange;
}


/*    banner css   */

.slide-banner{
    border: 1px solid black;
    display: flex;
    width: 100%;
}

.bg-cover{
    background-size: cover;
    background-position: center;
    width: 100%;

}

.ban1{

height: 60vh;
background-size: 100% 100%;
animation: slider 9s infinite linear;

}

@keyframes slider {
    
    0%{
          background-image: url(../images/ban1.jpg);
    }
    
    25%{
          background-image: url(../images/ban2.jpg);
    }
    
    50%{
          background-image: url(../images/ban3.jpg);
    }
    
    75%{
          background-image: url(../images/ban4.jpg);
    }
}

/* .ban2{
    background-image: url(../images/ban2.jpg);
    height: 60vh;
}

.ban3{
    background-image: url(../images/ban3.jpg);
    height: 60vh;
}

.ban4{
    background-image: url(../images/ban4.jpg);
    height: 60vh;
} */


/*    featurs   */

.features > div:first-child{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 15px;
    gap:10px
}
.features > div > i{
    background-color: orange;
    color: white;
    border-radius: 50%;
    padding: 10px;
    font-size: 20px;
    
}
.features > div > h3{
    font-weight: 400;
}
.features > div > p{
    font-size: 14px;
    color: gray;
    font-weight: normal;
    line-height: 1.8;
    font-family: 'Lato', sans-serif;
    letter-spacing:normal;
}


/*     new gadgets    */

.new-gadget{
    text-align: center;
}

.new-gadget h4{
margin-bottom: 20px;
margin-top: 20px;
    font-weight: normal;
    font-size: 18px;
}
.new-gadget p{
    font-size: 15px;
    color: gray;
    font-weight: normal;
    line-height: 1.5;
    font-family: 'Lato', sans-serif;
    letter-spacing:0.1px;
    margin-bottom: 30px;
}

.new-gadget img{
    width: 100%;
}

.new-gadget-title{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.new-gadget-title > h1{
  
    color:#364253;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-weight: normal;
    text-transform: none;
    line-height: 1.8;
    letter-spacing: normal; 
}

.new-gadget-title p{
    margin-top: 20px;
    max-width: 855px;
    font-size: 15px;
    color: gray;
    font-weight: normal;
    line-height: 1.8;
    font-family: 'Lato', sans-serif;
    letter-spacing:normal;
}

.new-gadget > a{
    color: orange;
    padding: 10px 35px;
    border: 1px solid orange;
    border-radius: 50px;

}
.new-gadget > a:hover{
    color: white;
    background-color: orange;
}


/*    All product    */

.prod{
    border:1px solid gainsboro;
    display: flex;
    flex-direction: column-reverse;
    width:248px !important;
    height: 375px !important;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.prod > div:first-child{
    border-top:1px solid gainsboro;
    padding: 10px 15px;
    height:200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.prod > div:nth-child(2){
 display: flex;
 justify-content: center;
 align-items: center;
 width: 100%;
 height: 100%;
}

.prod img{
width:100%;
} 

.overlay{
    position: absolute;
    display: flex;
    color:white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
height: 0;
overflow: hidden;
transition: background-color 0.5s;
}
.overlay a{
    color: white;
}

.prod:hover .overlay{
    width:248px;
    height: 375px;
    background-color: RGBA(54, 66, 83, 0.95);
}

.overlay > .cart{
    background-color: orange;
    border-radius: 50px;
    padding: 10px 25px;
}
.overlay > .cart:hover{
    background-color: rgb(254, 140, 0);
}

.ri-drag-move-2-fill{
    transform: rotate(45deg);
}



/*       Best Seller       */

.bestseller{
    max-width: 1140px;
    padding: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.bestseller-img{
    width: 40%;
}
.bestseller-d{
    width: 50%;
}

.bestseller-img img{
    width: 100%;
}
.bestseller-d{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.bestseller-d h3{
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-weight: normal;
    text-transform: none;
    color: #364253;
    line-height: 1.8;
    letter-spacing: normal;
}

.bestseller-d p{
    color: #6C798B;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: normal;
    text-transform: none;
    line-height: 1.8;
    letter-spacing: normal;
}

.bestseller-d a{
    color: white;
    background-color: orange;
    font-family: 'Lato', sans-serif;
    text-transform: none;
    font-weight: normal;
    border: 0 none;
    line-height: 1.42857143;
    letter-spacing: normal;
    padding: 10px 35px;
}


.container4{
    max-width: 1140px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px 25px;
    flex-wrap: wrap;
    box-shadow: 0px 0px 15px 0px rgba(45, 11, 11, 0.1);
}
.container4 > div{


}

.py-4{
    padding:50px 0px;
}
.title{
    width: 33.33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0px 15px;
}
.points{
    width: 66.66%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.title h2{
    margin-top: 20px;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-weight: normal;
    text-transform: none;
    color: #364253;
    line-height: 1.8;
    letter-spacing: normal;
}
.title p{
    margin-top: 20px;
    color: #6C798B;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: normal;
    text-transform: none;
    line-height: 1.8;
    letter-spacing: normal;
}

.title a{
    margin-top: 20px;
    font-family: 'Lato', sans-serif;
    padding: 10px 35px;
    border: 1px solid orange;
     border-radius:50px;
    transition: all 1s;
    font-size: 14px;
    color: orange;
}
.title a:hover{
    background-color: orange;
    color:white;
   
}

.point1{
    width: 50%;
    margin-top: 20px;
    padding: 0px 15px;
}

.point1 h4{
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: normal;
    text-transform: none;
    color: #364253;
    line-height: 1.8;
    letter-spacing: normal;
    padding-top: 15px;
}

.point1 p{
    color: #6C798B;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: normal;
    text-transform: none;
    line-height: 1.8;
    letter-spacing: normal;
    padding-top: 15px;
}
.b-none{
    border: none;
}
.point1 i{
    color:orange;
    border: 1px solid gainsboro;
   font-size:18px;
   border-radius: 50%;
   padding: 10px;
}



 /*     footer    */

.bg-dark{
    background-color: #364253;
}
.footer{
    color: white;
    padding:50px 0px;
    max-width: 1140px;
    width: 100%;
    margin: auto;
}

.foot h4{
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: normal;
    text-transform: none;
    line-height: 1.8;
    letter-spacing: normal;
}

.foot:first-child > div{
margin: 20px 0 0;
}
.foot:first-child img{
    width: 48.2px;
    height: 30px;
}
.foot:first-child p{
    margin: 20px 0 0;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: normal;
    text-transform: none;
    line-height: 1.8;
    letter-spacing: normal;
}

.foot:nth-child(2) > div{
   margin: 20px 0 0 ;
   font-size: 20px;
   color: rgb(158, 158, 158);
}

.foot:nth-child(3) ul{
    margin: 20px 0 0;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: normal;
    text-transform: none;
    line-height: 1.8;
    letter-spacing: normal;
    padding: 0 0 0 20px;
}

.foot:nth-child(3) li{
    padding: 5px 0px;
}


.foot:last-child div{
    margin: 20px 0 0 ;
   
}
.foot:last-child form{
    display: flex;
    flex-direction: column;
}

.foot:last-child input{
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    text-transform: none;
    font-weight: normal;
    line-height: normal;
    letter-spacing: normal;
    border: 1px solid #ccc;
    margin: 0 0 5px;
    background: transparent;
    padding: 12px 5px;
    width: 100%;
}
.foot:last-child button{
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: normal;
    text-transform: none;
    border-width: 0;
    border-style: none;
    line-height: 1.42857143;
    letter-spacing: normal;
    padding: 12px 5px;
    width: 100%;
    color: orange;
    background-color: white;
    transition: all 0.5s;
}
.foot:last-child button:hover{
    background-color: rgba(255, 255, 255, 0.88);
}



@media(max-width:991px){
    .container > div{
        width:33.33%;
    }
    .points, .title{
        width: 50%;
    }
    .point1{
        width: 100%;
    }
}

@media(max-width:767px){
    .container > div{
    width:50%;
    }
    .bestseller > div{
        width: 100%;
    }
    .points, .title{
        width: 100%;
    }

}

@media(max-width:575px){
    .container > div{
    width:100%;
}
}


@media(max-width:767px){
    .container3 > div{
    width:50%;
}
}

@media(max-width:575px){
    .container3 > div{
    width:100%;
}
}








